<nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="font-family: 'Dancing Script', cursive;font-size: 35px;">Angular Projects</a>
    
    <div class="collapse navbar-collapse" id="navbarToggleExternalContent" >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-family: 'Montserrat Alternates', sans-serif;" >
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/calculator" href="#" style="color: #FFF323; font-size: large;">Calculator</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/productlist" href="#" style="color: #FFF323; font-size: large;">Productlist</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/productlist/cart" href="#" style="color: #FFF323; font-size: large;">Cart</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/canvas" href="#" style="color: #FFF323; font-size: large;">Canvas</a>
        </li>
        
        
      </ul>
      
    </div>
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    
  </div>

 
</nav>

<router-outlet>

</router-outlet>
